*{
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
	font-family: Lato;
	padding: 0 50px;
}
input[type="radio"]{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.header .list-of-links{
	overflow: hidden;
	padding-left: 20%;
	position: relative;
}
	.header .list-of-links li{
		float: left;
		width: 25%;
		border-right: 1px solid #edf5f8;
		height: 70px;
		line-height: 70px;
		box-sizing: border-box;
	}
	.header .list-of-links:before{
		content: "";
		width: 20%;
		border-right: 1px solid #edf5f8;
		border-left: 1px solid #edf5f8;
		position: absolute;
		left: 0;
		height: 70px;
	}
	.header .list-of-links a{
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 900;
		color: #000;
	}
	.header .list-of-links span{
		color: #e9e8ee;
		margin-right: 8px;
		margin-left: 15px;
	}
.acticles{
	display: none;
	opacity: 0;
	position: relative;
}
	.acticles .page-nimber{
		position: absolute;
		left: 10%;
		font-size: 24px;
		color: #fff;
		top: 120px;
		font-weight: 200;
	}
		.acticles .page-nimber span{
			font-size: 100px;
		}
	.acticles img{
		width: 100%;
	}
	.acticles h1{
		position: absolute;
		left: 20%;
		top: 150px;
		font-size: 70px;
		font-weight: 900;
		width: 500px;
		color: #fff;
	}
	.acticles mark{
		background-color: #fff;
	}
	.acticles p {
		position: absolute;
		top: 500px;
		left: 20%;
		color: #fff;
		font-size: 20px;
		width: 50%;
		font-weight: 200;
	}
	.acticles p.black{
		color: #000;
	}
input[type="radio"]:checked + .acticles{
	display: block;
	opacity: 1;
    animation: show 5s ease-in-out;
    animation-fill-mode: both;
}
@keyframes show {
    0% {
    	display: none;
    }
    20% {
    	opacity: 0;
    	display: block;
    }
    100% {
    	opacity: 1;
    }
}
.content{
	overflow-y: scroll;
}
.preloader-bg{
	position: absolute;
	width: 1000%;
	height: 100%;
	left: -1000%;
	top: 0;
	z-index: 2;

	transition: left 0s ease;
}
.preloader-bg.blue{
	background-color: blue;
}
input[type="radio"]:checked + .acticles + .preloader-bg{
	left: 1000%;

	transition: left 7s ease;
}
.preloader{
	position:fixed;
	width:120px;
	opacity: 0;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	z-index: -1;
}

input[type="radio"]:checked + .acticles + .preloader-bg + .preloader{
	
	animation: showPreloader 2s ease;
    animation-fill-mode: both;
}
@keyframes showPreloader {
    0%{
		opacity: 0;
		z-index: 20;
    }
    20%{
    	opacity: 1;
    }
    99%{
    	opacity: 1;
    	z-index: 20;
    }
    100%{
		opacity: 0;
		z-index: -1;
    }
}
.preloader, 
.preloader * {
	box-sizing: border-box;
}

.preloader span {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: #fff;
	border-radius: 487px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.preloader span:nth-child(1) {
	-webkit-animation: scale 2.05s 0.21s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	-moz-animation: scale 2.05s 0.21s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	animation: scale 2.05s 0.21s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.preloader span:nth-child(2) {
	-webkit-animation: scale 2.05s 0.41s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	-moz-animation: scale 2.05s 0.41s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	animation: scale 2.05s 0.41s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.preloader span:nth-child(3) {
	-webkit-animation: scale 2.05s 0.62s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	-moz-animation: scale 2.05s 0.62s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	animation: scale 2.05s 0.62s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.preloader span:nth-child(4) {
	-webkit-animation: scale 2.05s 0.82s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	-moz-animation: scale 2.05s 0.82s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	animation: scale 2.05s 0.82s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.preloader span:nth-child(5) {
	-webkit-animation: scale 2.05s 1.03s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	-moz-animation: scale 2.05s 1.03s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	animation: scale 2.05s 1.03s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
	0% {
		transform: scale(0);
	}
	25% {
		transform: scale(0.9, 0.9);
		background-color: #fff;
	}
	50% {
		transform: scale(1, 1);
		margin: 0 3px;
		background-color: #fff;
	}
	100% {
		transform: scale(0);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
	}
	25% {
		-webkit-transform: scale(0.9, 0.9);
		background-color: #fff;
	}
	50% {
		-webkit-transform: scale(1, 1);
		margin: 0 3px;
		background-color: #fff;
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0);
	}
	25% {
		-moz-transform: scale(0.9, 0.9);
		background-color: #fff;
	}
	50% {
		-moz-transform: scale(1, 1);
		margin: 0 3px;
		background-color: #fff;
	}
	100% {
		-moz-transform: scale(0);
	}
}
.header{
	position: relative;
	z-index: 1;
}
	.header input{
		position: absolute;
		top: 100%;
		left: 0;
		opacity: 0;
	}
	.header label{
		cursor: pointer;
	}